<div id="my-deals-submenu">
     <h2 id="md-sub-one">En cours</h2>
     <h2 id="md-sub-two">Passés</h2>
</div>
<section id="md-section-one" class="my-deals-container">
  <h2>A valider</h2>
  <% if @received_deals.empty? %>
    <p>Vous n'avez pas reçu de propositions.</p>
  <% else  %>
    <div class="mydeals-received-grid">
      <% @received_deals.each do |deal| %>
        <div class="deals-card">
          <img src="<%= cl_image_path deal.requester_record.release.image %>" alt="">
          <h5><%= deal.requester_record.release.title %></h5>
          <p><%= deal.requester_record.release.artist %></p>
          <p>Envoyé par <%= deal.requester_record.user.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <h2>En cours</h2>
  <% if @accepted_deals.empty? %>
    <p>Vous n’avez pas de deals en cours.</p>
  <% else  %>
    <div class="mydeals-received-grid">
      <% @accepted_deals.each do |deal| %>
        <div class="deals-card">
          <img src="<%= cl_image_path deal.requester_record.release.image %>" alt="">
          <h5><%= deal.requester_record.release.title %></h5>
          <p><%= deal.requester_record.release.artist %></p>
          <p>Envoyé par <%= deal.requester_record.user.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<section id="md-section-two" class="my-deals-container">
  <% if @confirmed_deals.empty? %>
    <p>Vous n’avez pas encore échangé de disques.</p>
    <p>N'oubliez pas de confirmer vos échanges ;)</p>
  <% else  %>
    <div class="mydeals-received-grid">
      <% @confirmed_deals.each do |deal| %>
        <div class="deals-card">
          <img src="<%= cl_image_path deal.requester_record.release.image %>" alt="">
          <h5><%= deal.requester_record.release.title %></h5>
          <p><%= deal.requester_record.release.artist %></p>
          <p>Envoyé par <%= deal.requester_record.user.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

