<div class="app-container ">
  <div class="myrecords-wrapper">
    <div id="myrecords-header">
      <h1>Deals</h1>
      <ul class="nav nav-tabs my-deals-tabs my-deals-submenu" id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link active" id="deals-tab" data-toggle="tab" href="#tovalidate" role="tab" aria-controls="tovalidate" aria-selected="true">A valider</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="deals-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">En attente</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="deals-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">En cours</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="deals-tab" data-toggle="tab" href="#terminated" role="tab" aria-controls="terminated" aria-selected="false">Terminé</a>
          </li>
      </ul>

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="tovalidate" role="tabpanel" aria-labelledby="tovalidate-tab">
          <section class="my-deals-container">
            <% if @received_deals.empty? %>
              <p>Vous n’avez pas reçus de propositions.</p>
            <% else  %>
              <p>Les propositions que vous avez reçu.</p>

              <% @received_deals.sort_by {|deal| deal.created_at }.reverse.each do |deal| %>

                <div class="card-list-container">
                  <%= link_to mydeal_path(deal) do %>
                    <div class="records-index-card">
                      <img src="<%= record_cover(deal.requester_record) %>" alt="">
                      <div class="records-index-infos">
                        <h3><%= deal.requester_record.release.title %></h3>
                        <p><%= deal.requester_record.release.artist %></p>
                        <p><i class="far fa-clock"> </i>Proposé par <%= deal.requester_record.user.name %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
                
              <% end %>
            <% end %>
          </section>
        </div>


        <div class="tab-pane fade show" id="pending" role="tabpanel" aria-labelledby="pending-tab">

          <section id="md-section-one" class="my-deals-container">
            <% if @sent_deals.empty? %>
                <p>Vous n’avez pas encore envoyé de propositions d'échange ;).</p>
            <% else  %>
              <p>Les propositions que vous avez faites à d'autres Diggerz.</p>

              <% @sent_deals.sort_by {|deal| deal.created_at }.reverse.each do |deal| %>

                <div class="card-list-container">
                  <%= link_to mydeal_path(deal) do %>
                    <div class="records-index-card">
                      <img src="<%= record_cover(deal.receiver_record) %>" alt="">
                      <div class="records-index-infos">
                        <h3><%= deal.receiver_record.release.title %></h3>
                        <p><%= deal.receiver_record.release.artist %></p>
                        <p><i class="far fa-clock"> </i>Proposé à <%= deal.receiver_record.user.name %></p>
                      </div>
                    </div>

                  <% end %>
                </div>
              <% end %>
            <% end %>
          </section>

        </div>

        <div class="tab-pane fade show" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
          <section id="md-section-one" class="my-deals-container">
            <% if @accepted_deals.empty? %>
                <p>Vous n’avez pas de deals en cours.</p>
            <% else  %>
              <p>Les échanges que vous devez faire.</p>

              <% @accepted_deals.sort_by {|deal| deal.created_at }.reverse.each do |deal| %>

                <div class="card-list-container">
                  <%= link_to mydeal_path(deal) do %>

                    <img src="<%= record_cover(deal.receiver_record) %>" alt="">
                    <div class="card-list-infos">
                      <div><%= deal.receiver_record.release.title %></div>
                      <div><%= deal.receiver_record.release.artist %></div>
                      <div> <i class="far fa-clock"> </i> Proposé à <%= deal.receiver_record.user.name %></div>
                    </div>

                  <% end %>
                </div>
              <% end %>
            <% end %>
          </section>

        </div>

        <div class="tab-pane fade" id="terminated" role="tabpanel" aria-labelledby="terminated-tab">
          <section id="md-section-one" class="my-deals-container">
            <% if @confirmed_deals.empty? %>
              <p>Vous n’avez pas encore accepté d'échanges !</p>
              <p>Allez donc échanger des disques ;)</p>
            <% else  %>
              <p>Les propositions que vous avez faites à d'autres Diggerz.</p>

              <% @confirmed_deals.sort_by {|deal| deal.created_at }.reverse.each do |deal| %>

                <div class="card-list-container">
                  <%= link_to mydeal_path(deal) do %>

                    <img src="<%= record_cover(deal.receiver_record) %>" alt="">
                    <div class="card-list-infos">
                      <div><%= deal.receiver_record.release.title %></div>
                      <div><%= deal.receiver_record.release.artist %></div>
                      <div> <i class="far fa-clock"> </i> Proposé par <%= deal.receiver_record.user.name %></div>
                    </div>

                  <% end %>
                </div>
              <% end %>
            <% end %>
          </section>

        </div>
      </div>

    </div>
  </div>
</div>
