<div class="deal-maker-container col">
  <div class="deal-wrapper">
    <div class="deal-maker-container">
      <% if @current_user_received_deal %>
        <%= render 'mydeals/components/exchange_target_record',
                   record: @proposed_record,
                   for_user: :receiver %>
        <%= render 'mydeals/components/in_exchange_of_record',
                   record: @asked_record %>
        <%= render "mydeals/components/actions/#{@deal.status}/receiver_actions",
                   deal: @deal %>
      <% else %>
        <%= render 'mydeals/components/exchange_target_record',
                   record: @asked_record,
                   for_user: :requester %>
        <%= render 'mydeals/components/in_exchange_of_record',
                   record: @proposed_record %>
        <%= render "mydeals/components/actions/#{@deal.status}/requester_actions",
                   deal: @deal %>
      <% end %>
    </div>
  </div>
</div>
