<div class="container-mydeals-show-vinyl-card">
  <div class="md-show-card">
    <div>
      <div class="md-show-card-back-button">
        <%= link_to "< retour", mydeals_path  %>
      </div>
      <div class="md-show-requester-profil">
        <img id="md-requester-avatar" src="cl_image_path @proposed_record.user.avatar ">
        <p><%= @proposed_record.user.name %> vous propose</p>
      </div>
      <div class="md-show-container-album">
        <div class="md-show-proposed-record" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('<%= cl_image_path @proposed_record.release.image %>')">
          <div class="md-show-details">
            <div class="md-show-proposed-record-details">
              <h3> <%= @proposed_record.release.title %> </h3>
              <p> <%= @proposed_record.release.artist %> </p>
              <span> <%= @proposed_record.release.year %> - <%= @proposed_record.release.genre.name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="md-show-section-two">
      <div class="md-show-card-tracklist">
        <% if @proposed_record.release.tracks %>
          <ul>
            <li><strong>TRACKLIST</strong></li>
            <% @proposed_record.release.tracks.sort_by {|track| track.position }.each do |track| %>
              <li data-id="<%= track.id %>"><%= track.position %> - <%= track.title %></li>
            <% end %>
        </ul>
        <% else %>
          <p>Les tracks sont indisponibles pour cet album</p>
        <% end %>
      </div>
    </section>
    <section class="md-show-section-one">
      <div class="md-requested-album-infos">
        <div id="md-release-requested">
          <p>En échange de :</p>
          <h5><%= @asked_record.release.title %></h5>
          <p><%= @asked_record.release.artist %></p>
        </div>
        <div>
          <img class="avatar-square" src="<%= cl_image_path @asked_record.release.image %>">
        </div>
      </div>
    </section>
    <div class="md-show-actions-btn">
      <div class="button-master md-show-accept">
        Accepter l'échange
      </div>
      <div class="button-secondary md-show-decline">
        Nope !
      </div>
    </div>
  </div>
</div>
