<div class="deal-maker-container">
  <div class="deal-wrapper">
    <div class="deal-maker-container" id="validated-deal">

      <div class="deal-header">
        <%= link_to mydeals_return_url do %>
        <i class="fas fa-long-arrow-alt-left"></i>
        <% end %>
        <h2>Deal accépté !</h2>
        <i class="far fa-question-circle fa-lg dropdown"></i> 
      </div>
  
      <% if @current_user_received_deal %>
        <%= render 'mydeals/components/exchange_target_record',
                   record: @proposed_record,
                   for_user: :receiver %>
        <%= render 'mydeals/components/in_exchange_of_record',
                   record: @asked_record %>
        <%= render "mydeals/components/actions/#{@deal.status}/receiver_actions",
                   deal: @deal %>
      <% else %>
        <%= render 'mydeals/components/exchange_target_record',
                   record: @asked_record,
                   for_user: :requester %>
        <%= render 'mydeals/components/in_exchange_of_record',
                   record: @proposed_record %>
        <%= render "mydeals/components/actions/#{@deal.status}/requester_actions",
                   deal: @deal %>
      <% end %>

    </div>
  </div>
</div>
