<div class="profile-container">

  <%= simple_form_for current_user, url: profile_path do |f| %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :name %>
    <%= f.input :username %>

    <%= f.button :submit, 'Mettre à jour', class: 'button-secondary' %>
  <% end %>
  <div class="genre-card-category">
</div></div>
