  <div>
    <%= link_to "< retour", myrecords_path  %>
  </div>
<div class="profil-container">
  <img src="<%= current_user_avatar_path %>" alt="" class="profil-img">
  <div><%= @user.name %></div>
  <div><%= @user.location %></div>
  <div><%= @user.email %></div>
  <div>PHONE</div>
  <div>Edit genres preferences </div>
  <div class="button-secondary">Editer</div>
  <div class="button-secondary">Supprimer mon compte</div>
</div>