<div class="profil-container">
  <img src="<%= current_user_avatar_path %>" alt="" class="profil-img">
  <div><%= @user.name %></div>
  <div><%= @user.location %></div>
  <div><%= @user.email %></div>
  <div>PHONE</div>
  <div>Edit genres preferences </div>
  <%= link_to 'Mettre à jour ma localisation', edit_account_location_path, class: 'button-secondary' %>
  <%= link_to 'Mettre à jour mon profil', edit_profile_path, class: 'button-secondary' %>
  <div class="button-secondary">Supprimer mon compte</div>
</div>
