<div class="connexion-container">
  <div class="connexion-content">
    <div class="connexion-content-wrapper">
        <div class="connexion-menu">
          <div>
            <%= image_tag "logo_diggerz_icon.png", height: 70 %>
          </div>
          <div class="connexion-menu-links">
            <div>
              <%= link_to "Connexion", new_session_path(resource_name), id: "disabled-link" %>
            </div>
            <div>
              <%= link_to "Inscription", new_registration_path(resource_name), id: "disabled-link" %>
            </div>
          </div>
        </div>
        <div class="connexion-form">
          <div id="connexion-form--registration-header">
            <h1>Inscription</h1>
            <h3>Hey coucou jeune padawan ! <br> Qui es-tu ? </h3>
            [ORIGINAL DESIGN]
            <button class="rounded-lined-btn">Syncroniser avec Discogs</button>

            [AFTER PLUG WITH BACKEND]
            <% if devise_mapping.omniauthable? %>
              <% resource_class.omniauth_providers.each do |provider| %>
                <form action="<%= omniauth_authorize_path(resource_name, provider) %>" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                  <input type="submit" value="Syncroniser avec Discogs">
                </form>
              <% end %>
            <% end %>
          </div>
          <div class="connexion-separator">
            <div id="connexion-separator-border"></div>
            <div>ou</div>
            <div id="connexion-separator-border"></div>
          </div>

          [ORIGINAL DESIGN]
          <form action="post">
              <div id="registration-identity">
                  <input type="text" id="name" placeholder="Prénom">
                  <input type="text" id="email" placeholder="Email">
              </div>
              <div>
                  <input type="text" id="password" placeholder="Mot de passe">
              </div>
              <div>
                  <input type="text" id="confirm" placeholder="Confirmes ton mot de passe">
              </div>
              <div class="registration-form-ctas">
                  <div id="registration-agreement">
                      <input type="checkbox" id="registration-agreed-original" name="agreed">
                      <label for="registration-agreed-original">J’accepte <a href="#" id="disabled-link">les conditions générales d’utilisations</a> et autorise Diggerz à m’envoyer des emails (sans me spamer <i class="fas fa-heart"></i>).</label>
                  </div>
                  <button class="button-master" id="connexion-cta-btn">Commencer</button>
              </div>
          </form>

          [AFTER PLUG WITH BACKEND]
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div id="registration-identity">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            </div>
            <div>
              <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            </div>
            <div>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="registration-form-ctas">
              <div id="registration-agreement">
                <%= f.input :accepts_tos, as: :boolean, label: false, error: "Accepter les conditions d'utilisation est obligatoire" %>
                <%= f.label :accepts_tos, style: "margin-bottom: 0;
    margin-left: 0.4em;"  do %>
                  J’accepte <a href="#" id="disabled-link">les conditions générales d’utilisation</a>
                <% end %>
              </div>
              <div id="registration-agreement">
                <%= f.input :accepts_marketing_communications, as: :boolean, label: false %>
                <%= f.label :accepts_marketing_communications, style: "margin-bottom: 0;
    margin-left: 0.4em;"  do %>
                  J’autorise Diggerz à m’envoyer des emails (sans me spamer <i class="fas fa-heart"></i>)
                <% end %>
              </div>
              <%= f.button :submit, "Commencer", class: 'button-master', id: 'connexion-cta-btn' %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <div class="connexion-image"></div>
</div>
