<div class="app-container ">
  <div class="myrecords-wrapper">

    <h1>Deals</h1>
    <%= render 'mydeals/nav', current_path: in_progress_mydeals_path %>

    <section>
      <% if @requested_deals.empty? && @received_deals.empty? %>
        <p>Vous n’avez pas de deals en cours.</p>
      <% else  %>
        <p>Les échanges que vous devez effectuer.</p>

        <% unless @received_deals.empty? %>
          <h4>Les deals que vous avez reçus</h4>

          <div class="records-grid">
            <% @received_deals.each do |deal| %>
              <%= link_to mydeal_path(deal, mydeals_return_url: in_progress_mydeals_url) do %>

                <%= render 'mydeals/components/cards/base', deal: deal, record: deal.requester_record do %>
                  <%= render 'mydeals/components/cards/footer/receiver', deal: deal %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% unless @requested_deals.empty? %>
          <h4>Les deals que vous avez proposés</h4>

          <div class="records-grid">
            <% @requested_deals.each do |deal| %>
              <%= link_to mydeal_path(deal, mydeals_return_url: in_progress_mydeals_url) do %>
                <%= render 'mydeals/components/cards/base', deal: deal, record: deal.receiver_record do %>
                  <%= render 'mydeals/components/cards/footer/requester', deal: deal %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</div>
