<div class="connexion-container">
    <div class="connexion-content">

        <div class="connexion-content-wrapper">
            <div class="connexion-menu">
                <div>
                    <%= image_tag "logo_diggerz_icon.png", height: 70 %>
                </div>
            </div>
            <div class="connexion-form">
                <div id="connexion-form--registration-header">
                    <h1>Ca arrive !</h1>
                    <h3>Allons récupèrer ton mot de passe !</h3>
        
                </div>
                <form action="post">
                    <div> 
                        <input type="text" id="email" placeholder="Ton adresse email">
                    </div>
                    <div class="connexion-form-ctas">
                        <div class="button-master" id="connexion-cta-btn">Go !</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="connexion-image">
       
    </div>
</div>



<h2>Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
