<div class="connexion-container">
    <div class="connexion-content">

      <div class="connexion-content-wrapper">
        <div class="connexion-menu">
           <%= link_to image_tag("logo_diggerz_icon.png", height: 50), root_path %>
        <div class="connexion-menu-links">
          <div>
            <%= link_to " < Connexion", new_session_path(resource_name), class: 'disabled-link' %>
          </div>
        </div>
      </div>
        <div class="connexion-form-container">
          <div id="connexion-form--registration-header">
              <h1>Ca arrive !</h1>
              <h3>Allons récupèrer ton mot de passe !</h3>
          </div>

          <div id="lost-password-ctas">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
                <div class="form-field"> 
                  <%= f.input :email,
                  required: true,
                  autofocus: true,
                  autofocus: true,
                  placeholder: 'Memoire@poissonrouge.com',
                  label:false,
                  input_html: { autocomplete: "email" } %>
                </div>
                <div class="connexion-form-ctas">
                  <%= f.button :submit, "Récupèrer", class: "button-master", id: "password-cta-btn" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="connexion-image">
       
    </div>
</div>
