<nav class="mobile-bottom-nav">
	<%= link_to records_path, class:"mobile-bottom-nav__item", id:"nav-logo" do %>
  		<div class="mobile-bottom-nav__item-content">
			<%= image_tag("logo_diggerz_full_white.png") %>
  		</div>
	<% end %>

	<%= link_to records_path, class:"mobile-bottom-nav__item" do %>
		<div class="mobile-bottom-nav__item-content">
			<i class="fas fa-search"></i></i><div id="nav-label">Digger</div>
		</div>
	<% end %>

	<%= link_to myrecords_path, class:"mobile-bottom-nav__item" do %>
		<div class="mobile-bottom-nav__item-content">
			<i class="fas fa-compact-disc"></i><div id="nav-label">Ma collection</div>
		</div>
	<% end %>
		
	<%= link_to received_mydeals_path, class:"mobile-bottom-nav__item" do %>
		<div class="mobile-bottom-nav__item-content">
			<i class="far fa-handshake"></i><div id="nav-label">Mes échanges</div>
		</div>
	<% end %>

	<%= link_to profile_path, class:"mobile-bottom-nav__item" do %>
		<div class="mobile-bottom-nav__item-content">
			<i class="fas fa-user"></i><div id="nav-label">Profil</div>
		</div>
	<% end %>

  <%# <div>
	<div>
		<div>ADD DIGGERZ PREMIUM</div>
	</div>
  </div> %>
</nav>
