<nav class="mobile-bottom-nav">
  <div class="mobile-bottom-nav__item mobile-bottom-nav__item--active"  id="nav-logo">
	<%= link_to discover_records_path do %>
		<%= image_tag("logo_diggerz_full_white.png") %>
	<% end %>
  </div>	

  <div class="nav-desktop-links-wrapper">
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<%= link_to discover_records_path do %><i class="fas fa-search"></i></i><div id="nav-label">Digger</div><% end %>
		</div>
	</div>


	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<%= link_to myrecords_path do %><i class="fas fa-compact-disc"></i><div id="nav-label">Ma collection</div><% end %>
		</div>
	</div>
		

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
		<%= link_to received_mydeals_path do %><i class="far fa-handshake"></i><div id="nav-label">Mes échanges</div><% end %>
		</div>
	</div>

	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<%= link_to profile_path do %><i class="fas fa-user"></i><div id="nav-label">Profil</div><% end %>
		</div>
	</div>

  </div>
  <%# <div>
	<div>
		<div>ADD DIGGERZ PREMIUM</div>
	</div>
  </div> %>
</nav>
