<div class="records-index-container" >
  <h1>Hello</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  
  <div class="records-index-grid">
    <% @discover.each do |record| %>
      <%= link_to new_record_deal_path(record) do %>      
      <div class="records-index-card">
        <img src="<%= record.release.image %>">
        <div class="records-index-infos">
          <h3><%= record.release.title %></h3>
          <p><%= record.release.artist %></p>
          <p><%= record.release.genre.name %></p>
        </div>
      </div>
        <% end %>
    <% end %>
  </div>

</div>