<div class="app-container ">
  <div class="myrecords-wrapper">

      <h1>Deals</h1>
      <%= render 'mydeals/nav', current_path: completed_mydeals_path %>

      <section class="my-deals-container">
        <% if @deals.empty? %>
          <p>Vous n’avez pas encore accepté d'échanges !</p>
          <p>Allez donc échanger des disques ;)</p>
        <% else  %>
          <p>Les propositions que vous avez faites à d'autres Diggerz.</p>

          <div class="records-grid">
            <% @deals.each do |deal| %>
              <%= link_to mydeal_path(deal, mydeals_return_url: completed_mydeals_url) do %>
                <div class="records-index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('<%= record_cover(deal.receiver_record) %>')" >
                  <div class="records-cards-infos">
                    <p><%= deal.receiver_record.release.genre.name %></p>
                    <h3><%= deal.receiver_record.release.title %></h3>
                    <p><%= deal.receiver_record.release.artist %></p>
                    <p><i class="far fa-clock"> </i>Proposé à <%= deal.receiver_record.user.username %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </section>

  </div>
</div>