<div class="mydeals-container records-wrapper">

    <h1 id="mydeals-header">Echanges</h1>
    <div class="mydeals-content-wrapper">
    <%= render 'mydeals/nav', current_path: completed_mydeals_path %>
      <% if @requested_deals.empty? && @received_deals.empty? %>
        <div class="mydeals-placeholder-container text-center d-flex flex-column align-items-center">
          <h2>😿</h2>
          <p>Tu n'as pas encore fait d'échanges ! <br><br>Ajoutes des disques dans ta collection pour augmenter tes chances </p>
          <%= link_to "Ajouter un disque", new_release_path, class: 'button-master' %>
        </div>
      <% else  %>
        <% unless @received_deals.empty? %>
          <h4>Les échanges qui vous ont été proposés</h4>

          <div class="records-grid">
            <% @received_deals.each do |deal| %>
              <%= link_to mydeal_path(deal, mydeals_return_url: in_progress_mydeals_url), class: 'records-content-wrapper' do %>

                <%= render 'mydeals/components/cards/base', deal: deal, record: deal.receiver_record do %>
                  <%= render 'mydeals/components/cards/user_exchanged_with/receiver', deal: deal %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <% unless @requested_deals.empty? %>
          <h4>Les échanges que vous avez proposés</h4>

          <div class="records-grid">
            <% @requested_deals.each do |deal| %>
              <%= link_to mydeal_path(deal, mydeals_return_url: in_progress_mydeals_url), class: 'records-content-wrapper' do %>
                <%= render 'mydeals/components/cards/base', deal: deal, record: deal.requester_record do %>
                  <%= render 'mydeals/components/cards/user_exchanged_with/requester', deal: deal %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
