<div class="homepage-banner" >
  <div class="homepage-container" style="background-image: url('https://images.unsplash.com/photo-1460058418905-d61a1b4a55fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80')">
    <div class="logo-homepage">
      <%= image_tag "logo_diggerz_full_white.png"%>
      <p>Troquer vos vinyles.</p>
    </div>
    <div class="hp-presentation">
      <div class="hp-button button-master">
        <% if user_signed_in? %>
          <%= link_to "Mon compte", myrecords_path %>
        <% else %>
          <%= link_to  user_discogs_omniauth_authorize_path, method: :post do %>
            Echanger des vinyles
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="arguments-grid">
  <div class="reassurance">
    <h2>Votre super-pouvoir Diggerz</h2>
    <div class="keywords_grid">
      <div class="keyword_bloc">
        <%= image_tag "discogs-logo-white.svg"%>
      </div>
      <div class="keyword_bloc">
        <%= image_tag "selectionner.svg"%>
      </div>
      <div class="keyword_bloc">
        <%= image_tag "echanger.svg"%>
      </div>
    </div>
    <div class="keywords_grid">
      <div class="keyword_bloc">
        IMPORTER
      </div>
      <div class="keyword_bloc">
        SELECTIONNER
      </div>
      <div class="keyword_bloc">
        ECHANGER
      </div>
    </div>
  </div>
  <div class="reassurance">
  <p>Echangez les vinyles dont vous ne voulez plus avec ceux des diggerz autour de vous : les disques dont vous ne voulez plus sont ceux qui interessent quelqu'un d'autre.
  <br>
  <br>
  Diggerz utilise les services de Discogs - la plus grande base de données de vinyles au monde - pour importer votre propre collection et commencer à échanger des disques.
  </p>
  </div>
 <!--  <div class="arguments-albums">
    <div class="album-grid"> -->
<!--         <div class="album">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61R7gJadP7L._SX355_.jpg" class="img-albums-hp">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>The dark side of the moon</h5>
              <p>Pink Floyd</p>
                <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->

  <!--       <div class="album">
          <img src="https://m.media-amazon.com/images/I/71F5N72iabL._SS500_.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>American idiot</h5>
              <p>Green Day</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->


  <!--       <div class="album">
          <img src="https://images-na.ssl-images-amazon.com/images/I/81l6s4l-JZL._SL1500_.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>Nevermind</h5>
              <p>Nirvana</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->

  <!--       <div class="album">
          <img src="https://m.media-amazon.com/images/I/71K1+8Xc7vL._SS500_.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>Highway To Hell</h5>
              <p>ACDC</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->

  <!--       <div class="album">
          <img src="https://images-na.ssl-images-amazon.com/images/I/81BqtUgg%2BgL._SL1500_.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>Drones</h5>
              <p>Muse</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->

  <!--       <div class="album">
          <img src="https://img.discogs.com/I6WLon0NwqZPEEPrxsG63-OPajQ=/fit-in/573x509/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-523-1376073104-9918.jpeg.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>Crispy Bacon</h5>
              <p>Laurent Garnier</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->

<!--         <div class="album">
          <img src="https://www.levinyleclub.com/wp-content/uploads/2019/02/71abRFYavYL._SL1200_.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>Labcabincalifornia</h5>
              <p>Pharcyde</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->

        <!-- <div class="album">
          <img src="https://static.fnac-static.com/multimedia/Images/FR/NR/59/2e/8d/9252441/1540-1/tsp20171206142909/Con-Todo-El-Mundo.jpg" class="img-albums-hp" alt="">
          <div class="overlay">
            <div class="cards-infos-hp">
              <h5>Con Todo El Mundo</h5>
              <p>Krughanbin</p>
              <a href="https://www.discogs.com/fr/oauth/authorize?oauth_token=WQNcdoVcSNDDTPRIxZBGZaQMdrzfWzuagZcpJSDY">OBTENIR</a>
            </div>
          </div>
        </div> -->
<!--     </div> -->
    <div class="button-master" id="hp-second-cta">
      <% if user_signed_in? %>
        <%= link_to "Mon compte", myrecords_path %>
      <% else %>
        <%= link_to  user_discogs_omniauth_authorize_path, method: :post do %>
          Echanger des vinyles
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>


