<div class="connexion-container">
  <div class="connexion-content">
    <div class="connexion-content-wrapper">
      <div class="connexion-menu">
        <div>
          <%= image_tag "logo_diggerz_icon.png", height: 70 %>
        </div>
      </div>
      <div class="connexion-form-container">
        <div id="connexion-form--registration-header">
          <h1>Où es-tu, <%= current_user.first_name %> ?! </h1>
          <h3>Localise ta collection et commences à échanger des disques près de chez toi ! </h3>
        </div>
        <%= simple_form_for current_user,
          url:    account_location_path(just_registered: params[:just_registered]),
          method: :patch do |f| %>

          <div class="form-field">
            <%= f.input :location,
              placeholder: 'Choisi ta ville',
              label:false,
              collection: @available_locations,
              selected:   @location %>
          </div>

          <p style="margin: 16px;">
            On lance la version test à Nantes, mais promis on débarque à la vitesse de la lumière <3
          </p>
          <div class="connexion-form-ctas">
            <%= f.submit 'Localiser', class: 'button-master', id: 'connexion-cta-btn' %>
          </div>
        <% end %>

        <% if params[:just_registered] %>
          <%= link_to "Passer à la suite", new_myrecord_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="connexion-image">
  </div>
</div>
