<div class="genre-container">

<!--   <div>
<%= link_to "Mon profil", profile_path %>
Récupérer le code de la page Deals
  </div> -->
  <div class="arguments-genres">
    <div class="genre-card-category">
      <%= simple_form_for(:preferences, method: :patch, url: profile_preferences_path) do |f| %>
        <% @genres.each do |genre| %>
          <div>
            <input type="checkbox" class="d-none" name="genre_id[]" id="genre_input_<%= genre.id %>" value="<%= genre.id %>">
            <label class="genre-card-label" for="genre_input_<%= genre.id %>">
              <div class="genre-img" alt="">
                <img src="<%=  default_genre_image_path(genre) %>", width: 120px>
                <div class="genre-cards-infos-hp">
                  <%= genre.name %>
                </div>
              </div>
            </label>
          </div>
        <% end %>
        <div class="submit-genre-button">
          <%= f.submit ">Sauvegarder mes préférences", :class => "button-master"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

