<div class="vinyl-card-details-index-button">
  <%= link_to "< retour", search_results_url  %>
</div>
<div class="record-show-img" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('<%= cl_image_path @record.release.image %>')">
  <h3> <%= @record.release.title %> </h3>
  <p> <%= @record.release.artist %> </p>
  <span> <%= @record.release.year %> - <%= @record.release.genre.name %></span>
</div>

<ul>
  <li><strong>TRACKLIST</strong></li>
  <% @record.release.tracks.sort_by {|track| track.position }.each do |track| %>
    <li><%= track.position %> - <%= track.title %></li>
  <% end %>
</ul>

<%= simple_form_for [@record, @deal] do |f| %>
  <%= f.input :requester_record_id, as: :hidden %>
  <div class="vinyl-card-input-button">
    <%= f.submit '>> Envoyer ce deal', :class => 'button-master-nemesis' %>
  </div>
<% end %>


  <div class="vinyl-card vinyl-card-collection records-undisplay">
    <%= render 'records/collection' %>
  </div>
