<div class="vd-contact-container">
  <img src="<%= user_avatar_path(user) %>">
  <div>
    <h5><%= user.username %></h5>
    <p><%= user.location %></p>
    <div class="vd-contact-ctas">
      <div>
        <i class="far fa-envelope"></i><%= user.email %>
      </div>
      <div>
        <i class="fas fa-phone"></i><%= user.phone_number %>
      </div>
    </div>
  </div>
</div>
