<% if for_user == :requester %>
  <div class="deal-requester-img">
    <span>Proposé à <%= record.user.username %></span>
    <img src="<%= user_avatar_path(record.user) %>">
  </div>
<% else %>
  <div class="vd-contact-container">
      <img src="<%= user_avatar_path(record.user) %>">
    <div>
      <h5><%= record.user.username %></h5>
      <p><%= record.user.location %></p>
      <div class="vd-contact-ctas">
        <div class="button-master"><i class="fas fa-phone"></i></div>
        <div class="button-master"><i class="far fa-envelope"></i></div>
      </div>
    </div>
  </div>
  <div class="vd-confirmation-msg">
    <p>Contact <%= record.user.username %> pour organiser un RDV afin d'échanger vos disques ! <br> Vous devez chacun.e confirmer l'échange pour que celui-ci soit effectif ;) </p>
  </div>
  <div class="vinyl-card-details" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('<%= record_cover(record) %>')">
    <div class="vinyl-card-details-infos">
      <h3> <%= record.release.title %> </h3>
      <p> <%= record.release.artist %> </p>
      <p> <%= record.release.year %> - <%= record.release.genre.name %> - <%= record.release.label %></p>
      <p class="record-condition-cap"> <%= record.condition %> </p>
    </div>
  </div>
<% end %>

