<div class="deal_mycollection">

  <div class="vinyl-card-details-index-button" >
    <i class="fas fa-times" id="vinyl-card-proposition-button"></i>
  </div>

  <h3>Choisissez votre disque à échanger</h3>

  <% @myrecords.each do |myrecord| %>

    <div data-record-id="<%= myrecord.id %>" data-record-title="<%= myrecord.release.title %>" data-record-image="<%= record_cover(myrecord) %>" data-record-artist="<%= myrecord.release.artist %>" class="myrecords-card" id="deal_requester_record_id" >
      <div>
        <%= cl_image_tag record_cover(myrecord) %>
        <div>
          <h4><%= myrecord.release.title %></h4>
          <p><%= myrecord.release.artist%></p>
        </div>
      </div>
    </div>

  <% end %>
</div>
