<div class="container-collection-card ">
  <% if @myrecords.empty? %>
  <%= link_to import_from_discogs_myrecords_path do  %>
    <div class="sync-grid-collection">
      <%= image_tag "sync.svg", alt: "Sync your Discogs collection" %>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% effectué (success)</span>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="collection-card">
      <div class="collection-card-search">
        <%= form_tag myrecords_path, method: :get do %>
          <input id="query-input" name="query" placeholder="Titre, Artiste... " >
            <% params[:query] %>
          </input>
          <button class="btn-search-dark"><i class="fas fa-search"></i></button>
        <% end %>
      </div>
      <div class="vinyle-collection-card">
      <% @myrecords.each_with_index do |myrecord, index| %>
        <div class="row-grid-collection">
          <div class="col-toogle-grid-collection">
            <div class="custom-control custom-switch custom-switch-collection onoffswitch" data-id="<%= myrecord.id %>">
              <input type="checkbox" <%= 'checked' if myrecord.swappable %> name="record[swappable]" class="custom-control-input onoffswitch-checkbox" id="record-swap-<%= index %>">
              <label class="custom-control-label onoffswitch-label" for="record-swap-<%= index %>">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <%= link_to "Lol", toggle_swappable_myrecord_path(myrecord), id: "submit-record-#{myrecord.id}", class: "hidden-button", method: :patch, remote: true %>
          </div>
          <div class="col-card-grid-collection">
            <%= link_to myrecord_path(myrecord) do %>
              <div class="card-product-collection">
                <%= cl_image_tag myrecord.release.image %>
                <div class="card-product-infos-collection">
                  <h4><%= myrecord.release.title %></h4>
                  <p><%= myrecord.release.artist%></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag "swap" %>
