  <div>
    <%= link_to "< retour", myrecords_path  %>
  </div>
<div class="container-show-record col">


  <div class="record-show-wrapper">
    <div id="record-show-title">
      <h3> <%= @record.release.title %> </h3>
      <p> <%= @record.release.artist %> </p>
      <span> <%= @record.release.year %> - <%= @record.release.genre.name %></span>
    </div>
    <div id="myrecords-toggle" class="custom-control custom-switch custom-switch-collection onoffswitch" ">
      <input type="checkbox" name="record[swappable]" class="custom-control-input onoffswitch-checkbox" ">
      <label class="custom-control-label onoffswitch-label" >
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <div class="button-secondary">Partager</div>
    <div id="record-show-content">
      <img class="record-show-element" src="<%= cl_image_path record_thumb_pic(@record) %>" alt="">
      <div class="record-show-element">
        <ul>
          <li><strong>TRACKLIST</strong></li>
          <% @record.release.tracks.sort_by {|track| track.position }.each do |track| %>
            <li><%= track.position %> - <%= track.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="button-secondary">Modifier</div>
    <div class="button-secondary">Supprimer</div>
  </div>


</div>

