<%= content_for(:after_application_pack) do %>
  <%= javascript_pack_tag "record_options" %>
<% end %>

<div class="deal-wrapper">
  <div class="deal-maker-container">
    <div class="vinyl-card-details" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('<%= record_cover(@record) %>')">
      <div class="vinyl-card-details-index-button">
      	<%= link_to myrecords_path do %><i class="fas fa-long-arrow-alt-left"></i><% end %>
        <i class="fas fa-ellipsis-h" id="more-options"></i>
      </div>
      <div id="record-options" style="display: none;">
        <a>Modifier</a>
        <a>Supprimer</a>
      </div>
      <div class="vinyl-card-details-infos">
        <h3> <%= @record.release.title %> </h3>
        <p> <%= @record.release.artist %> </p>
        <p> <%= @record.release.year %> - <%= @record.release.genre.name %> - <%= @record.release.label %></p>
        <p class="record-condition-cap"> <%= @record.condition %> </p>
      </div>
    </div>
    <!-- <div class="record-pictures-selector">
      <div class="record-picture">Photo 1</div>
      <div class="record-picture">Photo 2</div>
      <div class="record-picture">Photo 3</div>
    </div> -->
    <div class="myrecords-tracklist ">
      <% if @record.release.tracks.empty? %>
        <p>Renseigne les tracks de ce disque !</p>
        <div class="button-secondary">Ajouter une track</div>
      <% else %>
      <ul>
        <li><strong>TRACKLIST</strong></li>
        <% @record.release.tracks.sort_by {|track| track.position }.each do |track| %>
          <li><%= track.position %> - <%= track.title %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <%if @record.swappable %>
      <div class="record-available-btn"><i class="fas fa-check"></i></i>En ligne</div>
    <% else %>
      <div class="record-swapable-btn"><i class="fas fa-arrow-up"></i>Echanger</div>
    <%end %>
  </div>
</div>


