<div class="container-vinyl-card">
    <div class='vinyl-card'>
      <div class="vinyl-card-details" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('<%= cl_image_path @record.release.image %>')">
        <div class="vinyl-card-details-infos">
          <div class="vinyl-card-details-infos-release">
            <h3> <%= @record.release.title %> </h3>
            <p> <%= @record.release.artist %> </p>
            <span> <%= @record.release.year %> - <%= @record.release.genre.name %></span>
          </div>
        </div>
      </div>
      <div class="vinyl-card-tracklist">
        <ul>
          <li><strong>TRACKLIST</strong></li>
          <% @record.release.tracks.each do |track| %>
            <li><%= track.position %> - <%= track.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
