<div class="records-index-container main-container-md container-deals">
  <h1>Deals</h1>
  <%= render 'mydeals/nav', current_path: received_mydeals_path %>

  <section class="my-deals-container">
    <% if @deals.empty? %>
      <p>Vous n’avez pas reçus de propositions.</p>
    <% else  %>
      <p>Les propositions que vous avez reçu.</p>

      <% @deals.each do |deal| %>

        <div class="card-list-container">
          <%= link_to mydeal_path(deal, mydeals_return_url: received_mydeals_url) do %>
            <div class="records-index-card">
              <img src="<%= record_cover(deal.requester_record) %>" alt="">
              <div class="records-index-infos">
                <h3><%= deal.requester_record.release.title %></h3>
                <p><%= deal.requester_record.release.artist %></p>
                <p><i class="far fa-clock"> </i>Proposé par <%= deal.requester_record.user.username %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
