<div class="app-container ">
  <div class="myrecords-wrapper">

      <h1>Deals</h1>
      <%= render 'mydeals/nav', current_path: received_mydeals_path %>

      <section>
        <% if @deals.empty? %>
          <p>Vous n’avez pas reçus de propositions.</p>
        <% else  %>
          <p>Les propositions que vous avez reçu.</p>
            <div class="records-grid">
              <% @deals.each do |deal| %>

                <%= link_to mydeal_path(deal, mydeals_return_url: received_mydeals_url) do %>

                  <div class="records-index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('<%= record_cover(deal.requester_record) %>')" >
                    <div class="records-cards-infos">
                      <p><%= deal.requester_record.release.genre.name %></p>
                      <h3><%= deal.requester_record.release.title %></h3>
                      <p><%= deal.requester_record.release.artist %></p>
                      <p><i class="far fa-clock"> </i>Proposé par <%= deal.requester_record.user.username %></p>
                    </div>
                  </div>

                <% end %>
              <% end %>
            </div>
         <% end %>
      </section>

  </div>
</div>
